* {
    box-sizing: border-box;
}
body { 
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Cinzel', serif;  
}
.slider {
display: flex;
justify-content: center;
align-items: center;
padding: 0;

}
.item {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    background-color: #aeaeae;
    transition: all 0.3s;
}
span{
    font-size: 2rem;
    text-shadow: 5px 5px 20px #000;
}
.item:hover {
    flex-basis: 50%;
}
.item-1 {
    background: url(../img/1.jpg) no-repeat center center;
    background-size: cover;
}
.item-2 {
    background: url(../img/37377953.jpg) no-repeat center center;
    background-size: cover;
}
.item-3 {
    background: url(../img/20398618.jpg) no-repeat center center;
    background-size: cover;
}
.item-4 {
    background: url(../img/37317895.jpg) no-repeat center center;
    background-size: cover;
}
@media (max-width: 640px) {
    .slider {
        height: 100vh;
        flex-flow: column;
    }
    .item {
        width: 100%;
    }
    .item:hover {
        flex-grow: 30%;
    }

}